.separator {
    background-image: linear-gradient(
        to right top,
        #f5efef,
        hsl(0, 20%, 95%), 
        hsl(0, 21%, 95%), 
        hsl(120, 22%, 96%), 
        hsl(120, 100%, 99%), 
        #faf4f4, 
        #141414, 
        #0e0f0f, 
        #070707, 
        #0a0a0a, 
        #0b0c0c, 
        #0b0c0c
    );
    height: 6px;
    width: 40%;
    border-radius: 3px;
    margin: 16px 0px;
}