.separator {
    background-image: linear-gradient(
        to right top,
        #64af26,
        hsl(133, 54%, 43%), 
        hsl(115, 42%, 44%), 
        hsl(108, 40%, 51%), 
        hsl(120, 47%, 57%), 
        #0f0f0f, 
        #141414, 
        #0e0f0f, 
        #070707, 
        #0a0a0a, 
        #0b0c0c, 
        #0b0c0c
    );
    height: 6px;
    width: 40%;
    border-radius: 3px;
    margin: 16px 0px;
}