.work {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: gray;
}

.work-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px;
    background-color: aliceblue;
}